<?xml version='1.0' encoding='utf-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd             http://www.springframework.org/schema/task              http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<description>shareholdersmeeting task config guilixian</description>

	<bean
		class="com.ytwl.cms.asyn.task.shareholdersMeeting.ShareholdersMeetingTask"
		id="shareholdersMeetingTask" />

	<bean class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"
		id="syncShareholdersMeeting">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
				<property name="durability" value="true" />
				<property name="requestsRecovery" value="true" />
				<property name="jobClass" value="com.ytwl.cms.quartz.JobDetailBean" />
				<property name="jobDataAsMap">
					<map>
						<entry key="targetObject" value="shareholdersMeetingTask" />
						<entry key="targetMethod" value="shareholderMeeting" />
					</map>
				</property>
			</bean>
		</property>
		<property name="cronExpression">

			<value>0 0 10,17 * * ?</value>
		</property>
		<property name="misfireInstruction" value="2" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="syncShareholdersMeeting" />
			</list>
		</property>
		<property name="overwriteExistingJobs" value="true" />
		<property name="exposeSchedulerInRepository" value="true" />
		<property name="autoStartup" value="true" />
		<property name="startupDelay" value="10" />
		<property name="applicationContextSchedulerContextKey" value="applicationContextKey" />
		<property name="configLocation"
			value="classpath:/ytwl-cms-admin-properties/quartz.properties" />
		<property name="jobFactory">
			<bean class="com.ytwl.cms.quartz.AutoWiringSpringBeanJobFactory" />
		</property>
	</bean>
</beans>