<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				        http://www.springframework.org/schema/task 
				        http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<description>spring-task-message-tags config</description>

	<!-- 唐时涛 资讯标题标签 -->
	<bean id="mixMessageForTitleTagsTask" class="com.ytwl.cms.asyn.task.messageTitleTags.MixMessageForTitleTagsTask"></bean>
	

	<task:scheduler id="messageTagsTaskScheduler"
		pool-size="1" />

	<task:scheduled-tasks scheduler="messageTagsTaskScheduler">

		<task:scheduled ref="mixMessageForTitleTagsTask" method="dealMessageTitleForTags"
			cron="0 0/5 * * * ?" />
			<!-- cron="0 0/1 * * * MON-FRI" -->
	</task:scheduled-tasks>

</beans>