<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				        http://www.springframework.org/schema/task 
				        http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<description>spring-task-AshareFollowBanker config</description>
	<!--  luoyi 无特殊需求 -->
	<!--  跟庄神器 -->
	<bean id="ashareFollowBankerTask" class="com.ytwl.cms.asyn.task.asharefollowbanker.service.impl.AshareFollowBankerServiceImpl"></bean>
	<!-- 跟庄神器每日更新 -->
	<bean id="ashareFollowBankerTaskBean" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="ashareFollowBankerTask" />
				<property name="targetMethod" value="updateAshareFollowBankerTask" />
				<property name="concurrent" value="false" />
			</bean>
		</property>
		<property name="cronExpression">
            <value>0 15 0 * * ?</value>
        </property>   
	</bean> 
</beans>