<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				        http://www.springframework.org/schema/task 
				        http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<description>shareholdersmeeting task config guilixian</description>

	<bean id="shareholdersMeetingTask"
		class="com.ytwl.cms.asyn.task.shareholdersMeeting.ShareholdersMeetingTask"></bean>

	<bean id="syncShareholdersMeeting" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean
				class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="shareholdersMeetingTask" />
				<property name="targetMethod" value="shareholderMeeting" />
				<property name="concurrent" value="false" />
			</bean>
		</property>
		<property name="cronExpression">
			<!-- 早上10:00 下午5:00 -->
			<value>0 0 10,17 * * ?</value>
		</property>
	</bean>

	<!--注册定时任务 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="syncShareholdersMeeting" />
			</list>
		</property>
	</bean>

</beans>